<div class="container padding-bottom-60 padding-top-40 text-center">
    <h1>Videos</h1>
    <p>Learn more about our work with these helpful video resources.</p>
    <a class="btn btn-primary margin-top-20" href="https://www.youtube.com/@EclipseFdn/playlists?view=50&shelf_id=7">View All</a>
</div>
<div class="row grey-row padding-top-60 padding-bottom-60">
    <div class="container">
        <div class="eclipsefdn-video-list" data-playlist-ids="PLy7t4z5SYNaQYkqWW6KCm6c9xwdWNHU58, PLy7t4z5SYNaSruNciCsq79vfquXnZ7iTi, PLy7t4z5SYNaTCU0kXY35NHkeE3WGuugEo, PLy7t4z5SYNaQ1oxJsywJbBgyGCuhPz22J, PLy7t4z5SYNaRYI7lH26szREOi9pfqxOUU">
        </div>
    </div>
</div>
