{{ $section := where $.Site.RegularPages "Section" "special-interest-groups" }}
<section class="row dark text-center padding-y-60 bg-primary">
  <div class="container">
    <h2 class="h1 margin-bottom-40">Our Special Interest Groups</h2>
    <div class="sig-list">
      {{ range $section }}
        <a class="sig-card hover-grow-sm" href="{{ .Permalink }}">
          <div class="sig-card-header">
            <img class="sig-card-logo" src="" alt="">
          </div>
          <div class="sig-card-body">
            <p class="sig-card-heading fs-3"><strong>{{ .Params.Title }}</strong></p>
            <p class="sig-card-summary">
              {{ .Summary | truncate 150  }}
            </p>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
</section>
