/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-transform: uppercase;
}

.featured-jumbotron, 
main {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    font-weight: 500;
    font-family: 'Audiowide', sans-serif;
  }
}

body {
  font-size: 16px;
}

.featured-jumbotron h1 {
  text-transform: none;
}

// Typography specific to event pages.
.event {
  text-align: center;

  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    text-align: center;
  }

  // Align the agenda and its headings to the left.
  .eclipsefdn-agenda {
    &,
    &-legend,
    h2,
    .h2,
    h4,
    .h4 {
      text-align: left;
    }
  }
}
