<!-- 
  Copyright (c) 2018 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Christopher Guindon <chris.guindon@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

{{ if isset .Page.Params "headline" }}
<div class="jumbotron jumbotron-custom featured-jumbotron margin-bottom-0 {{ if isset .Page.Params "jumbotron_classes" }}{{ .Page.Params.jumbotron_classes }}{{ end }}">
  
  <div class="container">
    {{ if isset .Page.Params "custom_jumbotron" }}
    <div class="row">
      <div class="custom-jumbotron-header col-sm-24">
        {{ .Page.Params.custom_jumbotron | safeHTML }}
      </div>
    </div>
    {{ else }}
    <div class="jumbotron-custom-content">
      <div class="row">
        <div class="{{- .Params.jumbotron_class | default .Site.Params.jumbotron_class | default "jumbotron-custom-col col-md-14 col-lg-18"}}">
          <h1>{{ .Page.Params.headline | title | safeHTML }}</h1>
           {{ if isset .Page.Params "subtitle" }}
          <h2>{{ .Page.Params.subtitle  | title }}</h2>
          {{end}} 

          {{ if isset .Page.Params "tagline" }}
          <div class="row">
            <div class="{{- .Params.jumbotron_tagline_class | default .Site.Params.jumbotron_tagline_class | default "col-sm-14 col-sm-offset-5 col-md-offset-0"}}">
              <p>{{ .Page.Params.tagline }}</p>
            </div>
          </div>
          {{end}} 

          {{ if isset .Page.Params "links" }}
          {{- with .Params.jumbotron_btn_class | default .Site.Params.jumbotron_btn_class | default "btn btn-primary"}}{{ $.Scratch.Set "jumbotron_btn" . }}{{end}}
          <ul class="list-inline">
            {{range $key,$val := index .Page.Params.links}}
              <li><a class="{{ $.Scratch.Get "jumbotron_btn" }}" href="{{ (index $val 0).href}}">{{ (index $val 1).text}}</a></li>
            {{end}} 
          </ul>
          {{end}} 
          <div class="row jumbotron-custom-social-container">
            <div class="col-xs-24 padding-right-0">
              <div class="display-flex align-items-center gap-20 margin-top-30">
                <p>Follow Us:</p>
                <ul class="list-inline jumbotron-custom-social-icons-left margin-bottom-0">
                  <li>
                    <a class="fa-stack" href="{{ $.Site.Params.instagram_url }}">
                      <i class="fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
                      <i class="fa-brands fa-instagram fa-stack-1x text-black" aria-hidden="true"></i>
                      <div class="sr-only">Follow us on Instagram</div>
                    </a>
                  </li>
                  <li>
                    <a class="fa-stack" href="{{ $.Site.Params.twitter_url }}">
                      <i class="fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
                      <i class="fa-brands fa-x-twitter fa-stack-1x text-black" aria-hidden="true"></i>
                      <div class="sr-only">Follow us on X</div>
                    </a>
                  </li>
                  <li>
                    <a class="fa-stack" href="{{ $.Site.Params.linkedin_url }}">
                      <i class="fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
                      <i class="fa-brands fa-linkedin-in fa-stack-1x text-black" aria-hidden="true"></i>
                      <div class="sr-only">Follow us on Linkedin</div>
                    </a>
                  </li>
                  <li>
                    <a class="fa-stack" href="{{ $.Site.Params.youtube_url }}">
                      <i class="fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
                      <i class="fa-brands fa-youtube fa-stack-1x text-black" aria-hidden="true"></i>
                      <div class="sr-only">Follow us on YouTube</div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 padding-left-0 hidden-md hidden-lg">
            </div>
          </div>
        </div>
      </div>
    </div>
    {{end}} 
  </div>
    {{ if eq .Page.Params.show_featured_story true }}
      <div class="eclipsefdn-featured-story featured-story" id="featured-story" data-publish-target="{{ .Page.Params.featured_content_publish_target | default .Site.Params.featured_content_publish_target | default "eclipse_org"}}">
        <div class="container">
          <div class="featured-story-block-container">
            {{ partial "jumbotron_socials.html" . }}
            <div class="featured-story-block featured-story-block-content featured-container">
            </div>
          </div>
        </div>
      </div>
    {{ end }}
</div>
{{ end }}
