<ul class="list-inline jumbotron-custom-social-icons-right">
    <li>Share this page:</li>
    <li><a class="fa-stack" href="#" onclick="
        window.open(
        'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href+'?utm_source={{.Permalink}}&amp;utm_campaign={{ .Page.Params.headline | urlize }}&amp;utm_medium=social-media-facebook-icon'),
        'facebook-share-dialog',
        'width=626,height=436');
        return false;">
        <i class="fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i>
        <i class="fa-brands fa-facebook-f fa-stack-1x text-black" aria-hidden="true"></i>
      </a></li>
    <li>
      <a class="fa-stack" aria-label="Share on X" href="#" onclick="
        window.open(
        'https://twitter.com/intent/tweet?text=Learn about the new Eclipse IDE Working Group%20-%20&amp;url='+encodeURIComponent(location.href+'?utm_source={{.Permalink}}&amp;utm_campaign={{ .Page.Params.headline | urlize }}&amp;utm_medium=social-media-twitter-icon'),
        'twitter-share-dialog',
        'width=626,height=436');
        return false;">
        <i class="fa-solid fa-circle fa-stack-2x" aria-hidden="true"></i> 
        <i class="fa-brands fa-x-twitter fa-stack-1x text-black" aria-hidden="true"></i>
    </a>
  </li>
</ul>
