/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

.landscape-diagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

  @media (min-width: @screen-md-min) {
    max-width: 50%;
    margin: auto;
  }

  @media (min-width: @screen-lg-min) {
    flex-direction: row;
    max-width: unset;
    margin: unset;
  }
}

.landscape-diagram-stack {
  display: flex;
  gap: 1em;
  font-size: 2rem;

  h4,
  .h4 {
    font-weight: 600;
  }
  
  &-item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    min-height: 8rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #efefef;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);

    &-parts {
      .list-unstyled;
      display: flex;
      flex-direction: column;
      align-self: stretch;
      gap: 3rem;
      margin-bottom: 0;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        &:last-child {
          margin-bottom: calc(3rem - 1rem); // gap - padding 
        }
      }

      li::before {
        content: '';
        flex-shrink: 0;
        width: 100%;
        max-width: 4rem;
        height: 0.5rem;
        border-radius: 1rem;
      }
    }
  }

}

.landscape-diagram-stack-main {
  .dark;
  flex-direction: column;

  .landscape-diagram-stack-item:nth-child(1) {
    background-color: #a36a9c
  }

  .landscape-diagram-stack-item:nth-child(2) {
    background-color: @brand-primary;
  }

  .landscape-diagram-stack-item:nth-child(3) {
    background-color: @brand-secondary;
  }

  .landscape-diagram-stack-item-parts li::before {
    background-color: @white;
  }

  @media (min-width: @screen-lg-min) {
    max-width: 66%;

    b {
      min-width: 20%;
    }

    .landscape-diagram-stack-item {
      &,
      &-parts,
      &-parts li {
        flex-direction: row;
        gap: 1rem;

        &:last-child {
          margin-bottom: unset;
        }
      }

      &-parts li::before {
        width: 0.5rem;
        height: 100%;
      }
    }
  }
}

.landscape-diagram-stack-aside {
  color: @brand-secondary;
  text-align: center;

  .landscape-diagram-stack-item {
    width: 100%;

    &-parts {
      & li {
        flex-direction: column;
      }

      & li::before {
        background-color: @brand-secondary;
      }
    }
  }
}

