/*!
 * Copyright (c) 2021, 2022, 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.jumbotron {
  @media (max-width: @screen-md-max) {
    padding-bottom: 0;
  }
}

.featured-jumbotron {
  position: relative;

  @media (max-width: @screen-sm-max) {
    .btn {
      border-radius: 25px;
      font-size: @btn-font-size;
      padding-top: 8px;
      padding-bottom: 8px;
      min-width: 200px;
    }
  }

  .jumbotron-custom-content {
    padding: 0;
    text-align: center;
  }

  h1 {
    color: @white;
    margin: 2rem 0;
    font-weight: @jumbotron-h1-weight;
    font-size: @jumbotron-h1-mobile-size;

    &:after {
      border-bottom: none;
      height: 0px;
    }
  }

  p {
    font-size: 23px;
    font-weight: 600;
  }
}

.jumbotron-custom {
  background-position: 0% 20%;
  position: relative;
  z-index: 1;

  @media (max-width: @screen-sm-max) {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: linear-gradient(to bottom, transparent 0%, black 100%);
    }
  }

  ul li:nth-child(2) .btn-primary {
    background-color: @white;
    color: @brand-secondary;
    border: none;

    &:hover,
    &:active,
    &:visited {
      background-color: darken(@white, 10%);
      color: @brand-secondary;
      border: none;
    }
  }

  .jumbotron-register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    .btn-primary {
        color: black;
    }
  }

  .small {
    font-weight: normal;
    font-size: 1.6rem;
  }
}

.jumbotron-custom-col {
  @media(min-width: 1450px) {
    width: 75%;
  }

  @media (min-width: 1500px) {
    width: 80%;
  }

  @media (min-width: 1550px) {
    width: 85%;
  }

  @media (min-width: 1600px) {
    width: 90%;
  }
}

.jumbotron-custom-social-icons-left,
.jumbotron-custom-social-icons-right {
  color: @white;

  li {
    padding: 0 3px;
  }
}

.jumbotron-custom-social-icons-left {
  text-align: left;
}

.jumbotron-custom-social-icon {
  width: 20px;
}

.jumbotron-custom-social-icons-right {
  text-align: right;
}

.jumbotron-custom-social-container p {
  margin: 0;
  font-size: @font-size-lg;
}

@media (min-width: @screen-sm-min) {
  .jumbotron-custom-social-icons-left {
    text-align: left;
  }
}

@media (max-width: @screen-sm-max) {
  .jumbotron-custom-social-container {
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: @brand-secondary;
  }
}

@media (min-width: @screen-md-min) {
  .jumbotron-custom {
    min-height: 50rem;
    
    // Content
    .jumbotron-custom-content {
      margin-top: 14rem; // Maintain the same height as featured story's heading
      min-width: 450px;
      padding: 30px 0 25px;
      padding-right: 15px;
      text-align: left;
    }
  }
  
  // Social icons
  .jumbotron-custom-social-icons-right {
    margin-top: 40px;
  }
}

@media (min-width: 1400px) {
  .jumbotron-custom {
    .jumbotron-custom-content {
      margin-top: 17rem; // Maintain the same height as featured story's heading
    }

    h1,
    .h1 {
      font-size: @jumbotron-h1-size;
    }
  }
}

.header-wrapper .featured-jumbotron {
  background: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
